/* .helping-modal{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 250px;
	height: 100px;
	background-color: green;
	z-index: 10;
	border-radius: 5px;
}

.hmodal-wrapper{
	position: absolute;
	right: 0;
	top: 0;
	width: 270px;
	max-height: 100%;
	overflow: auto;
	background-color: aquamarine;
}

.hmodal-items{
}

.hmodal-item{
	width: 250px;
	height: 100px;
	background-color: green;
	z-index: 10;
	margin: 10px;
} */